.home{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.1);
    background: url(../assets/img01.png) top center;
    background-size: cover;


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.home h1{
    display: inline-block;
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 4px 2px 3px rgba(0,0,0,0.6);
    position: static;
    margin-top: -150px;
    margin-bottom: 20px;
}

.home h2{
    display: inline-block;
    font-size: 1.6rem;
    position: static;
    text-shadow: 4px 2px 3px rgba(0,0,0,0.6);
}

.content{
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.content1{
    width: 40%;
    height: 70vh;
    background: url('https://res.cloudinary.com/afl0r3s/image/upload/v1634180451/projects/nastuh-abootalebi-eHD8Y1Znfpk-unsplash_edyjuz.jpg') top center;
    background-size: cover;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.content1_2{
    width: 40%;
    height: 70vh;
    background: url('https://res.cloudinary.com/afl0r3s/image/upload/v1634183407/projects/ashley-byrd-7chd1yoB8-g-unsplash_ujmtnn.jpg') top center;
    background-size: cover;
}

.content1_3{
    width: 40%;
    height: 70vh;
    background: url('https://res.cloudinary.com/afl0r3s/image/upload/v1634183561/projects/jason-wang-NxAwryAbtIw-unsplash_lneurj.jpg') top center;
    background-size: cover;
}

.content1_4{
    width: 40%;
    height: 70vh;
    background: url('https://res.cloudinary.com/afl0r3s/image/upload/v1634183637/projects/kam-idris-vqMQN9zImG4-unsplash_tf1dy9.jpg') top center;
    background-size: cover;
}

.content1_5{
    width: 40%;
    height: 70vh;
    background: url('https://res.cloudinary.com/afl0r3s/image/upload/v1634183979/projects/spacejoy-g3KbcDWrBUM-unsplash_effndc.jpg') top center;
    background-size: cover;
}

.content1_6{
    width: 40%;
    height: 70vh;
    background: url('https://res.cloudinary.com/afl0r3s/image/upload/v1634183717/projects/spacejoy-FX61rYaAfCQ-unsplash_zh8ogv.jpg') top center;
    background-size: cover;
}

.content1_7{
    width: 40%;
    height: 70vh;
    background: url('') top center;
    background-size: cover;
}




/* .content1 img{
    width: 95%;
    height: 400px;
    background-size: cover;
} */


.content2{
    width: 35%;
    height: 70vh;
    margin-left: 30px;
    margin-right: 30px;


    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: justify;
}

.content2 h1{
    font-size: 2.2rem;
    font-weight: normal;
    margin-bottom: 20px;
}
.content2 span{
    color: black;
    font-size: 1.2rem;
    
}